@import "compass/css3";

/* Couleurs */
$main: #1ab188;
$main-light: lighten($main, 5%);
$main-dark: darken($main, 5%);
$gray-light: #a0b3b0;
$gray: #ddd;
$white: #ffffff;
$body-bg: #c1bdba;
$form-bg: #13232f;

/* Polices */
$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

/* Réinitialisation de la boîte */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Styles de base */
html {
  overflow-y: scroll;
}

body {
  background: $body-bg;
  font-family: "Titillium Web", sans-serif;
}

a {
  text-decoration: none;
  color: $main;
  transition: 0.5s ease;
}

a:hover {
  color: $main-dark;
}

/* Styles du formulaire */
.form {
  background: rgba($form-bg, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: $br;
  box-shadow: 0 4px 10px 4px rgba($form-bg, 0.3);
}

/* Styles des onglets */
.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba($gray-light, 0.25);
    color: $gray-light;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
  }

  li a:hover {
    background: $main-dark;
    color: $white;
  }

  .active a {
    background: $main;
    color: $white;
  }
}

.tab-content > div:last-child {
  display: none;
}

/* Styles des titres */
h1 {
  text-align: center;
  color: $white;
  font-weight: $thin;
  margin: 0 0 40px;
}

/* Styles des étiquettes de formulaire */
label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba($white, 0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}

label .req {
  margin: 2px;
  color: $main;
}

label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
  label .req {
    opacity: 0;
  }
}

label.highlight {
  color: $white;
}

/* Styles des champs de formulaire */
input,
textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid $gray-light;
  color: $white;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

textarea {
  border: 2px solid $gray-light;
  resize: vertical;
}

/* Styles des conteneurs de champs */
.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

/* Styles pour les rangées supérieures */
.top-row:after {
  content: "";
  display: table;
  clear: both;
}

.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.top-row > div:last-child {
  margin: 0;
}

/* Styles des boutons */
.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: $bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: $main;
  color: $white;
  transition: all.5s ease;
  -webkit-appearance: none;
}

.button:hover,
.button:focus {
  background: $main-dark;
}

.button-block {
  display: block;
  width: 100%;
}

/* Styles pour le lien "Forgot Password?" */
.forgot {
  margin-top: -20px;
  text-align: right;
}
@import "compass/css3";

/* Couleurs */
$main: #1ab188;
$main-light: lighten($main, 5%);
$main-dark: darken($main, 5%);
$gray-light: #a0b3b0;
$gray: #ddd;
$white: #ffffff;
$body-bg: #c1bdba;
$form-bg: #13232f;

/* Polices */
$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

/* Réinitialisation de la boîte */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Styles de base */
html {
  overflow-y: scroll;
}

body {
  background: $body-bg;
  font-family: "Titillium Web", sans-serif;
}

a {
  text-decoration: none;
  color: $main;
  transition: 0.5s ease;
}

a:hover {
  color: $main-dark;
}

/* Styles du formulaire */
.form {
  background: rgba($form-bg, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: $br;
  box-shadow: 0 4px 10px 4px rgba($form-bg, 0.3);
}

/* Styles des onglets */
.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba($gray-light, 0.25);
    color: $gray-light;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
  }

  li a:hover {
    background: $main-dark;
    color: $white;
  }

  .active a {
    background: $main;
    color: $white;
  }
}

.tab-content > div:last-child {
  display: none;
}

/* Styles des titres */
h1 {
  text-align: center;
  color: $white;
  font-weight: $thin;
  margin: 0 0 40px;
}

/* Styles des étiquettes de formulaire */
label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba($white, 0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}

label .req {
  margin: 2px;
  color: $main;
}

label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
  label .req {
    opacity: 0;
  }
}

label.highlight {
  color: $white;
}

/* Styles des champs de formulaire */
input,
textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid $gray-light;
  color: $white;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

textarea {
  border: 2px solid $gray-light;
  resize: vertical;
}

/* Styles des conteneurs de champs */
.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

/* Styles pour les rangées supérieures */
.top-row:after {
  content: "";
  display: table;
  clear: both;
}

.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.top-row > div:last-child {
  margin: 0;
}

/* Styles des boutons */
.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: $bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: $main;
  color: $white;
  transition: all.5s ease;
  -webkit-appearance: none;
}

.button:hover,
.button:focus {
  background: $main-dark;
}

.button-block {
  display: block;
  width: 100%;
}

/* Styles pour le lien "Forgot Password?" */
.forgot {
  margin-top: -20px;
  text-align: right;
}
